# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"forestry:ash_brick"=true
    B:"gregtech:concrete"=true
    B:"gregtech:granite"=true
    B:"gregtech:mineral"=true
    B:"railcraft:brick_abyssal"=true
    B:"railcraft:brick_bleachedbone"=true
    B:"railcraft:brick_bloodstained"=true
    B:"railcraft:brick_frostbound"=true
    B:"railcraft:brick_infernal"=true
    B:"railcraft:brick_nether"=true
    B:"railcraft:brick_pearlized"=true
    B:"railcraft:brick_quarried"=true
    B:"railcraft:brick_red_nether"=true
    B:"railcraft:brick_red_sandy"=true
    B:"railcraft:brick_sandy"=true
    B:"traverse:blue_rock_bricks"=true
    B:"traverse:blue_rock_cobblestone"=true
    B:"traverse:fir_planks"=true
    B:"traverse:red_rock_bricks"=true
    B:"traverse:red_rock_cobblestone"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


